<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
    	<observer name="v2modules_divvit_observer_sales_ordersaveafter_sales_order_save_after" instance="V2modules\Divvit\Observer\Sales\OrderSaveAfter"  />
	</event>
	<event name="checkout_cart_save_after">
    	<observer name="v2modules_divvit_observer_checkout_cart_saveafter_checkout_cart_save_after" instance="V2modules\Divvit\Observer\Checkout\CartSaveAfter"  />
	</event>
	<!-- events -->
</config>
