<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="divvit" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<field id="token" showInDefault="0" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="hidden">
				</field>
				<field id="merchan_id" showInDefault="0" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="hidden">
				</field>
			</group>
        </section>
    </system>
</config>
